<div class="container col-md-11">
<h1>Hi there!</h1>
<p>Welcome to {{title}}! The best deal because they aren't real!</p>
{{# each products}}
	<div class="row">
		{{# each this }}
			<div class="card col-md-3 m-1" style="width: 18rem;">
			  <img class="card-img-top" src="{{this.imagepath}}" alt="Card image cap">
			  <div class="card-body d-flex flex-column">
			    <h5 class="card-title">{{this.title}}</h5><div class="price">${{this.price}}</div>
			    <p class="card-text">{{this.description}}</p>
			    <div class="mt-auto d-flex flex-column">
			    	<div >
				  	{{# each this.categoryTags}}<div class="badge badge-info ml-0 mr-1 my-1 p-1">{{this}}</div>{{/each}}
				  	</div>
				    <a href="/add-to-cart/{{this.id}}" class="btn btn-primary flex-fill">Add To Cart</a>
			    </div>
			  </div>
			</div>
		{{/each}}
	</div>
{{/each}}
</div>
