{{# if products}}
<div class="row">
	<div class = "col-sm-6 col-md-6 col-md-ffset-3 col-sm-offset-3">
		<p><p>
		<ul class="list-group">
			{{# each products }}
			<li class="list-group-item">
			<div class="row">
				<div class="input-group input-group-sm col-sm-4">
					<div class="input-group-prepend">
						<button type="button" class="btn btn-danger btn-number btn-sm"  data-type="minus" data-field="quant[2]">
							 <i class="fas fa-minus"></i>
						</button>
					</div>
					<input type="text" name="quant[2]" class="form-control input-number" value="{{this.qty}}" min="1" max="100">
			        <div class="input-group-append">
			            <a href="/add-to-cart/{{this.id}}" role="button" class="btn btn-success btn-number btn-sm" data-type="plus" data-field="quant[2]">
			                <i class="fas fa-plus"></i>
			            </a>
			        </div>
			    </div>
				<strong class="col-sm-4">&nbsp;{{this.item.title}}&nbsp;</strong>
				<span class="label label-success col-sm-3">${{this.price}}</span>
				<button type="button" class="btn btn-danger btn-number btn-sm float-right"  data-type="minus" data-field="quant[2]">
					<i class="fas fa-trash-alt"></i>
				</button>
			</div>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
<p><hr>
<div class="row">
	<div class = "col-sm-6 col-md-6 col-md-ffset-3 col-sm-offset-3"><p>
		<strong>Total: ${{totalPrice}} </strong>
	</div>
</div> 
<hr>
<div class="row">
	<div class = "col-sm-6 col-md-6 col-md-ffset-3 col-sm-offset-3">
		<a href="/checkout" class="btn btn-success" role="button">Checkout</a>
	</div>
</div>
{{ else }}
	<div class="row">
	<div class = "col-sm-6 col-md-6 col-md-ffset-3 col-sm-offset-3">
		<h2>No Items in Cart</h2>
	</div>
</div> 
{{/if}}
